body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

div .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div .title {
  display: flex;
  justify-content: center;
  margin: 10px;
}

div .title .letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: rgba(255, 222, 0, 0.3);
  border-radius: 4px;
  width: 10px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  font-family: Courier New;
  font-size: 32px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);

}

div .title .letter2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #ffde00;
  border-radius: 4px;
  width: 10px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  font-family: Courier New;
  font-size: 32px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}


.container {
  width: 470px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: rgba(0, 101, 143, 0.7);
  border-radius: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  padding: 7px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  transform-style: preserve-3d;
  transition: opacity, background-color 1s linear;
}

.revealed.boy, .matched.boy {
  background: url('images/boy.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.boy2, .matched.boy2 {
  background: url('images/boy2.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.girl, .matched.girl {
  background: url('images/girl.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.girl2, .matched.girl2 {
  background: url('images/girl2.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.man1, .matched.man1 {
  background: url('images/man1.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.man2, .matched.man2 {
  background: url('images/man2.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.man3, .matched.man3 {
  background: url('images/man3.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.revealed.man4, .matched.man4 {
  background: url('images/man4.svg') no-repeat center;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}


/*.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.overlay {
  position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
}

/*dialog.modal main {
  filter: blur(5px);
}*/

/*.overlay:not(.dialog) {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}*/

.dialog {
  background-color: LavenderBlush;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #333;
  font-family: Gotham;
  border-radius: 8px;
}

.footer {
  font-family: Gotham;
  font-size: 11px;
  margin-top: 10px;
}
